body {
    background: url(http://unsplash.it/1499/1000);
}

#logo {
    width: 100px;
    height: 100px;
}


#logo:hover {
    height: 150px;
    width:  150px;
  
  };

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: #507157;
    font-size: 12px;
};

.nav-link:hover {
    background-color: lightgoldenrodyellow;
    color: lightseagreen
};


.lead{
    font-family: Arial, Helvetica, sans-serif;
    color: #507157;
    font-size:16px;
};

#greeting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #507157;
};


.card-footer {
    color: #507157;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    
 
};

#jumbo {
    background-color: none !important;
    background: none !important;
}